.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.counter-number {
  background-color: #000;
  color: #fff;
  padding: .2em .5em;
  border-radius: .2em;
  font-size: 4em;
  font-weight: bold;
  min-width: 40px;
  text-align: center;
}